In [1]:
#C:\Users\berka\Desktop\Dersler\Machine Learning\Practice_week1
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale 
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import neighbors
from sklearn.svm import SVR

In [2]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\berka\anaconda3\lib\site-packages (1.3.3)
Requirement already satisfied: numpy in c:\users\berka\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in c:\users\berka\anaconda3\lib\site-packages (from xgboost) (1.5.2)

In [3]:
!pip install ligthgbm

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000019B02848DC0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ligthgbm/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000019B02848E20>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ligthgbm/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000019B02848CA0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ligthgbm/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000019B02848A60>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ligthgbm/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000019B028488B0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ligthgbm/
ERROR: Could not find a version that satisfies the requirement ligthgbm (from versions: none)
ERROR: No matching distribution found for ligthgbm

In [4]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\berka\anaconda3\lib\site-packages (3.1.1)
Requirement already satisfied: wheel in c:\users\berka\anaconda3\lib\site-packages (from lightgbm) (0.35.1)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\berka\anaconda3\lib\site-packages (from lightgbm) (0.23.2)
Requirement already satisfied: numpy in c:\users\berka\anaconda3\lib\site-packages (from lightgbm) (1.19.2)
Requirement already satisfied: scipy in c:\users\berka\anaconda3\lib\site-packages (from lightgbm) (1.5.2)
Requirement already satisfied: joblib>=0.11 in c:\users\berka\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\berka\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)

In [5]:
!pip install catboost

Requirement already satisfied: catboost in c:\users\berka\anaconda3\lib\site-packages (0.24.4)
Requirement already satisfied: scipy in c:\users\berka\anaconda3\lib\site-packages (from catboost) (1.5.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\berka\anaconda3\lib\site-packages (from catboost) (1.19.2)
Requirement already satisfied: matplotlib in c:\users\berka\anaconda3\lib\site-packages (from catboost) (3.3.2)
Requirement already satisfied: six in c:\users\berka\anaconda3\lib\site-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in c:\users\berka\anaconda3\lib\site-packages (from catboost) (1.1.3)
Requirement already satisfied: graphviz in c:\users\berka\anaconda3\lib\site-packages (from catboost) (0.16)
Requirement already satisfied: plotly in c:\users\berka\anaconda3\lib\site-packages (from catboost) (4.14.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\berka\anaconda3\lib\site-packages (from matplotlib->catboost) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\berka\anaconda3\lib\site-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\berka\anaconda3\lib\site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\berka\anaconda3\lib\site-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\berka\anaconda3\lib\site-packages (from matplotlib->catboost) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\berka\anaconda3\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\berka\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2020.1)
Requirement already satisfied: retrying>=1.3.3 in c:\users\berka\anaconda3\lib\site-packages (from plotly->catboost) (1.3.3)

In [6]:
from xgboost import XGBRegressor

In [8]:
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor

In [2]:
df=pd.read_csv("C:\\Users\\berka\\Desktop\\Dersler\\Machine Learning\\Practice_week1\\vehicles.csv")

In [12]:
df

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,0,7240372487,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,35990,2010.0,chevrolet,corvette grand sport,good,...,rwd,NaN,other,NaN,https://images.craigslist.org/00N0N_ipkbHVZYf4...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2020-12-02T08:11:30-0600
1,1,7240309422,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,7500,2014.0,hyundai,sonata,excellent,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00s0s_gBHYmJ5o7y...,I'll move to another city and try to sell my c...,al,32.547500,-85.468200,2020-12-02T02:11:50-0600
2,2,7240224296,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,4900,2006.0,bmw,x3 3.0i,good,...,NaN,NaN,SUV,blue,https://images.craigslist.org/00B0B_5zgEGWPOrt...,Clean 2006 BMW X3 3.0I. Beautiful and rare Bl...,al,32.616807,-85.464149,2020-12-01T19:50:41-0600
3,3,7240103965,https://auburn.craigslist.org/cto/d/lanett-tru...,auburn,https://auburn.craigslist.org,2000,1974.0,chevrolet,c-10,good,...,rwd,full-size,pickup,blue,https://images.craigslist.org/00M0M_6o7KcDpArw...,1974 chev. truck (LONG BED) NEW starter front ...,al,32.861600,-85.216100,2020-12-01T15:54:45-0600
4,4,7239983776,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,19500,2005.0,ford,f350 lariat,excellent,...,4wd,full-size,pickup,blue,https://images.craigslist.org/00p0p_b95l1EgUfl...,2005 Ford F350 Lariat (Bullet Proofed). This t...,al,32.547500,-85.468200,2020-12-01T12:53:56-0600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458208,458208,7240959076,https://wausau.craigslist.org/ctd/d/wisconsin-...,wausau,https://wausau.craigslist.org,14995,2014.0,cadillac,srx,excellent,...,4wd,mid-size,SUV,silver,https://images.craigslist.org/00808_1bVcaYZtCy...,2014 Cadillac SRX All Wheel Drive Luxury Colle...,wi,44.408867,-89.881210,2020-12-03T08:56:29-0600
458209,458209,7240954682,https://wausau.craigslist.org/ctd/d/wisconsin-...,wausau,https://wausau.craigslist.org,17895,2018.0,hyundai,tucson,excellent,...,4wd,mid-size,SUV,white,https://images.craigslist.org/00l0l_gikkP11dEF...,2018 Hyundai Tucson SE 2.0 I4 AWD. Carfax ver...,wi,44.408867,-89.882240,2020-12-03T08:48:08-0600
458210,458210,7240645700,https://wyoming.craigslist.org/cto/d/sheridan-...,wyoming,https://wyoming.craigslist.org,17900,2014.0,cadillac,cts coupe awd,excellent,...,4wd,mid-size,coupe,black,https://images.craigslist.org/00t0t_lNnW4cboOG...,"53,000 miles. Cosmetically, in near mint condi...",wy,44.784900,-106.964800,2020-12-02T14:09:45-0700
458211,458211,7240600465,https://wyoming.craigslist.org/cto/d/sheridan-...,wyoming,https://wyoming.craigslist.org,1300,2008.0,jeep,grand cherokee,good,...,4wd,mid-size,SUV,white,https://images.craigslist.org/00C0C_fl0NW1IeJw...,PRICE REDUCTION Turns out the engine is toast...,wy,44.773500,-106.939600,2020-12-02T13:01:04-0700
458212,458212,7240562359,https://wyoming.craigslist.org/ctd/d/gilberts-...,wyoming,https://wyoming.craigslist.org,22900,2008.0,NaN,International 4300,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00k0k_77qSSp6sQC...,*** SHIPPING AVAILABLE DIRECTLY TO YOU. CALL F...,wy,42.117656,-88.436954,2020-12-02T12:03:45-0700

In [3]:
df=df.iloc[:,5:17]
df.dropna(inplace=True)
q1=df.price.quantile(0.25)
q3=df.price.quantile(0.75)
iqr=q3-q1
low_limit=q1-(1.5*iqr)
up_limit=q3+(1.5*iqr)
vector= df.price <= up_limit
df=df[vector]

In [4]:
df1=pd.get_dummies(df,columns=["manufacturer","condition","cylinders","fuel","title_status","transmission","drive"])
df1.drop(["model","VIN"],axis=1,inplace=True)
from sklearn.neighbors import LocalOutlierFactor
lof=LocalOutlierFactor()
lof.fit_predict(df1)
df1_scores=lof.negative_outlier_factor_

sortedsc=np.sort(df1_scores)

limit=df1_scores.mean()

vector=df1_scores >= limit

df=df1[vector]

df["age"]=2020-df.year
x=df.drop("price",axis=1)
y=df[["price"]]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

<ipython-input-4-1a56704e1093>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["age"]=2020-df.year

In [5]:
x_train=x_train.drop("year",axis=1)

In [6]:
x_test=x_test.drop("year",axis=1)

In [ ]:
models = [LGBMRegressor, 
          XGBRegressor, 
          GradientBoostingRegressor, 
          RandomForestRegressor, 
          DecisionTreeRegressor,
          MLPRegressor,
          KNeighborsRegressor, 
          SVR]

def otoml(x_train,y_train,x_test,y_test,alg):
    model=alg().fit(x_train,y_train)
    rmse=np.sqrt(mean_squared_error(y_test,model.predict(x_test)))
    print(alg.__name__,"algoritmasının RMSE test değeri:",rmse)

for alg in models:
    otoml(x_train,y_train,x_test,y_test,alg)

LGBMRegressor algoritmasının RMSE test değeri: 6052.844909798256
XGBRegressor algoritmasının RMSE test değeri: 5686.887185821401

C:\Users\berka\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GradientBoostingRegressor algoritmasının RMSE test değeri: 6826.017598129586

<ipython-input-36-8401a53b42ec>:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model=alg().fit(x_train,y_train)

RandomForestRegressor algoritmasının RMSE test değeri: 4460.910510647916
DecisionTreeRegressor algoritmasının RMSE test değeri: 5602.631059930077

C:\Users\berka\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

MLPRegressor algoritmasının RMSE test değeri: 173251.19119551298
KNeighborsRegressor algoritmasının RMSE test değeri: 7405.26932916777

C:\Users\berka\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [8]:
rf_model=RandomForestRegressor().fit(x_train,y_train)
rf_model.score(x_train,y_train)

<ipython-input-8-6113ce86957f>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_model=RandomForestRegressor().fit(x_train,y_train)

0.979587435759272

In [7]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale 
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import neighbors
from sklearn.svm import SVR


df=pd.read_csv("C:\\Users\\berka\\Desktop\\Dersler\\Machine Learning\\Practice_week1\\vehicles.csv")

df=df.iloc[:,5:17]
df.dropna(inplace=True)
q1=df.price.quantile(0.25)
q3=df.price.quantile(0.75)
iqr=q3-q1
low_limit=q1-(1.5*iqr)
up_limit=q3+(1.5*iqr)
vector= df.price <= up_limit
df=df[vector]

df1=pd.get_dummies(df,columns=["manufacturer","condition","cylinders","fuel","title_status","transmission","drive"])
df1.drop(["model","VIN"],axis=1,inplace=True)
from sklearn.neighbors import LocalOutlierFactor
lof=LocalOutlierFactor()
lof.fit_predict(df1)
df1_scores=lof.negative_outlier_factor_

sortedsc=np.sort(df1_scores)

limit=df1_scores.mean()

vector=df1_scores >= limit

df=df1[vector]

df["age"]=2020-df.year
x=df.drop("price",axis=1)
y=df[["price"]]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

<ipython-input-7-f49fb8132c39>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["age"]=2020-df.year

In [8]:
x_train.drop("year",axis=1,inplace=True)

C:\Users\berka\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
x_test.drop("year",axis=1,inplace=True)

In [17]:
x_train

,odometer,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,manufacturer_chevrolet,manufacturer_chrysler,...,title_status_parts only,title_status_rebuilt,title_status_salvage,transmission_automatic,transmission_manual,transmission_other,drive_4wd,drive_fwd,drive_rwd,age
399891,114750.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,10.0
110315,1474.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1.0
149208,128000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,9.0
8181,19449.0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1.0
223577,194089.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141839,39253.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,6.0
139225,230342.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,11.0
96945,96373.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,12.0
155259,103000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,9.0
148045,123000.0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,11.0

In [18]:
rf_model=RandomForestRegressor().fit(x_train,y_train)

<ipython-input-18-e03ef7a1cb37>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_model=RandomForestRegressor().fit(x_train,y_train)

In [10]:
arry=np.array(y)

In [9]:
rf_params={"n_estimators":[100,500,2000],
           "max_depth":[None,2],
           "min_samples_split":[2,5,7]
}
rf_cv_model=GridSearchCV(rf_model,rf_params,cv=5,n_jobs=-1,verbose=2).fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed: 33.4min
[Parallel(n_jobs=-1)]: Done  90 out of  90 | elapsed: 88.0min finished
C:\Users\berka\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [10]:
rf_cv_model.best_params_

{'max_depth': None, 'min_samples_split': 2, 'n_estimators': 500}

In [12]:
rf_tuned=RandomForestRegressor(min_samples_split=2,
                               n_estimators=500).fit(x_train,y_train)

<ipython-input-12-337975a2280b>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_tuned=RandomForestRegressor(min_samples_split=2,

In [13]:
y_pred=rf_tuned.predict(x_test)
np.sqrt(mean_squared_error(y_test,y_pred))

4385.353638091472

In [14]:
r2_score(y_test,y_pred)

0.8666120167533986

In [15]:
rf_tuned.score(x_test,y_test)

0.8666120167533986

In [16]:
y_pred

array([18283.734     ,  4015.042     , 19433.29166667, ...,
        9004.02      , 10002.846     , 16778.144     ])

In [19]:
y_test["predicted"]=y_pred

<ipython-input-19-ceaa2fd0289c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test["predicted"]=y_pred

In [21]:
y_test["error"]=y_test.price-y_test.predicted

<ipython-input-21-e2133491d293>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test["error"]=y_test.price-y_test.predicted

In [22]:
y_test

        price     predicted        error
272320  16995  18283.734000 -1288.734000
426853   4495   4015.042000   479.958000
190303  18450  19433.291667  -983.291667
76631    6288   5422.590000   865.410000
98932       1      1.000000     0.000000
...       ...           ...          ...
403682   6800   3014.372000  3785.628000
269350  52990  52990.000000     0.000000
379082   8995   9004.020000    -9.020000
213936  11995  10002.846000  1992.154000
50338   16990  16778.144000   211.856000

[16887 rows x 3 columns]

In [25]:
np.sqrt(mean_squared_error(y_train,rf_tuned.predict(x_train)))

1679.0376607544372

In [26]:
train_predict=rf_tuned.predict(x_train)

In [27]:
y_train["predicted"]=train_predict
y_train["error"]=y_train.price-y_train.predicted

<ipython-input-27-eb60c7b952fa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_train["predicted"]=train_predict
<ipython-input-27-eb60c7b952fa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_train["error"]=y_train.price-y_train.predicted

In [28]:
y_train

        price     predicted        error
311712   7995   8963.778000  -968.778000
144005  25990  24568.890000  1421.110000
58416   18000  18099.063351   -99.063351
317455  25900  25462.076000   437.924000
93092    7250   7542.537333  -292.537333
...       ...           ...          ...
156443   5997   6339.340000  -342.340000
169809   6975   6202.374000   772.626000
121808      0   8001.470154 -8001.470154
175532   5500   5220.560000   279.440000
254270   5700   5731.956000   -31.956000

[67544 rows x 3 columns]

In [10]:
df=df[df.price > 500]

In [11]:
x=df.drop("price",axis=1)
y=df["price"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [40]:
rf_tuned=RandomForestRegressor(min_samples_split=2,
                               n_estimators=500,).fit(x_train,y_train)

In [41]:
y_pred=rf_tuned.predict(x_test)

In [42]:
np.sqrt(mean_squared_error(y_test,y_pred))

3063.4770001960806

In [43]:
y_pred=rf_tuned.predict(x_train)
np.sqrt(mean_squared_error(y_train,y_pred))

1104.2021469985098

In [45]:
rf_tuned.score(x_train,y_train),rf_tuned.score(x_test,y_test)

(0.9909546639814838, 0.9314353939069004)

In [68]:
y_train

303318    23990
452186    43999
105595    14900
10391     32990
87661     23990
          ...
107221    15990
287463    31590
397695    18695
81696     30990
169138     7290
Name: price, Length: 63172, dtype: int64

In [77]:
pd.Series(y_pred,index=y_train.index,name="price")

303318    23990.000000
452186    43091.164237
105595    14543.896667
10391     32248.736897
87661     23990.000000
              ...
107221    16001.552000
287463    31590.000000
397695    18703.838000
81696     30990.000000
169138     7353.426000
Name: price, Length: 63172, dtype: float64

In [72]:
pd.DataFrame(data=[y_train]).T

        price
303318  23990
452186  43999
105595  14900
10391   32990
87661   23990
...       ...
107221  15990
287463  31590
397695  18695
81696   30990
169138   7290

[63172 rows x 1 columns]

In [73]:
pd.DataFrame(data=[y_pred]).T

                  0
0      23990.000000
1      43091.164237
2      14543.896667
3      32248.736897
4      23990.000000
...             ...
63167  16001.552000
63168  31590.000000
63169  18703.838000
63170  30990.000000
63171   7353.426000

[63172 rows x 1 columns]

In [86]:
train_report=pd.concat([pd.DataFrame(data=[y_train]).T,pd.DataFrame(data=[pd.Series(y_pred,index=y_train.index,name="price")]).T],axis=1)

In [87]:
test_report=pd.concat([pd.DataFrame(data=[y_test]).T,pd.DataFrame(data=[pd.Series(rf_tuned.predict(x_test),index=y_test.index,name="price")]).T],axis=1)

In [91]:
train_report.columns=["train_true","train_predict"]

In [93]:
test_report.columns=["test_true","test_predict"]

In [96]:
train_report["erros"]=train_report.train_true-train_report.train_predict

In [97]:
test_report["erros"]=test_report.test_true-test_report.test_predict

In [98]:
train_report

        train_true  train_predict       erros
303318       23990   23990.000000    0.000000
452186       43999   43091.164237  907.835763
105595       14900   14543.896667  356.103333
10391        32990   32248.736897  741.263103
87661        23990   23990.000000    0.000000
...            ...            ...         ...
107221       15990   16001.552000  -11.552000
287463       31590   31590.000000    0.000000
397695       18695   18703.838000   -8.838000
81696        30990   30990.000000    0.000000
169138        7290    7353.426000  -63.426000

[63172 rows x 3 columns]

In [99]:
test_report

        test_true  test_predict         erros
366074      17999  17222.154000    776.846000
239873      32800  37601.154000  -4801.154000
364595      23590  23587.600000      2.400000
59206       17995   8209.874000   9785.126000
104357      13900  12828.124000   1071.876000
...           ...           ...           ...
305173      28990  28990.000000      0.000000
162169       7197   8666.210000  -1469.210000
65296       21990  21990.000000      0.000000
145483      49900  38169.123981  11730.876019
282461      41995  42007.000000    -12.000000

[15793 rows x 3 columns]

In [105]:
print("Train setinde mse hatası:",np.sqrt(mean_squared_error(y_train,y_pred)))
print("Test setinde mse hatası:",np.sqrt(mean_squared_error(y_test,rf_tuned.predict(x_test))))
print("-"*30)
print("Train setinde r2_score:",r2_score(y_train,y_pred))
print("Test setinde r2_score",r2_score(y_test,rf_tuned.predict(x_test)))

Train setinde mse hatası: 1104.2021469985098
Test setinde mse hatası: 3063.4770001960806
------------------------------
Train setinde r2_score: 0.9909546639814838
Test setinde r2_score 0.9314353939069004

In [106]:
print("BAŞARDIK ABİ")

BAŞARDIK ABİ